@model Carsales.Data.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <div class="container2">
        <div class="flex1">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Make)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Make)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Model)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Model)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Year)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Year)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PriceType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PriceType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EgcPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EgcPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DapPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DapPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ContactName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DealerAbn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DealerAbn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Comments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comments)
                </dd>

            </dl>
        </div>
        <div class="flex2">
            <div>
                <span>Name: </span><input />
            </div>
            <br />
            <div>
                <span>Email: </span><input />
            </div>
            <br />
            <button>Submit Enquiry</button>
        </div>
    </div>

    <div>
        @*<p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
    </div>
</div>