@using Carsales.Data
@model System.Collections.Generic.List<Car>

<div class="list-group car-selection row">
    @{
        foreach (Car car in Model)
        {
            <a href="@Url.Action("EnquiryForm", "Enquiry", new { carId = car.Id })" class="list-group-item car-option">
                <div class="col-sm-5">
                    <span>@car.Make</span>
                    <span>@car.Model</span>
                </div>

                <div class="col-sm-1">
                    <span>@car.Year</span>
                </div>

                <div class="col-sm-1">
                    <span>@car.DapPrice</span>
                </div>
            </a>
        }
    }
</div>

